@mixin body {
    background: #FFD600;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #0b0b0bc2;
    margin: 0px;
}

@mixin flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

@mixin link {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

@mixin grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 0px;
    width:100%;
    margin: 0 auto;
    box-sizing: border-box;
}

@mixin phones {
    @media screen and (max-width: 40rem) { @content };
}

%border-box {
    box-sizing: border-box;
}

%padding {
    padding: 1rem;
}

%span {
    font-size: 2rem;
}

%hover {
    transition: all 0.3s ease;
    transform: scale(1.09);
}

%a {
    text-decoration: none;
    background: #2962ff;
    padding: 10px;
    border-radius: 4px;
    color: #ffffff;
}

%hab {
    text-decoration: none;
    color: #ffffff;
}

%titulo {
    font-weight: bold;
    margin-bottom: 10px;
}