body {
    @include body;
}

header, footer {
    padding: 1rem;
    background: #2962FF;
    color: #ffffff;
    @include flexbox;
    @extend %border-box;

    span {
        @extend %span;

        @include phones {
            font-size: 1rem;
            font-weight: 600;
        }
    }

    span:hover {
        @extend %hover;
    }

    nav {
        @include flexbox;

        a {
            color: white !important;
            @include link;

            @include phones {
                font-size: 1rem;
                font-weight: 100;
            }
        }

        a:hover {
            @extend %hover;
        }

        @include phones {
            font-size: 0.9rem;
        }
    }
}

.sobremi {
    @extend %padding;

    .sobremi-titulo {
        @extend %titulo;
    }

    .lista {
        padding-left: 2rem;
        list-style: square;
        margin-bottom: 10px;
    }

    .sobremi-profesor {
        margin-bottom: 10px;
    }
}

.proyectos {
    @extend %padding;

    .proyectos-titulo {
        @extend %titulo;
    }

    .proyectos-card {
        background-color: #f0f0f0;
        border-radius: 14px;
        padding: 14px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;

        .proyectos-img {
            width: 100%;
            margin-bottom: 10px;
        }

        .proyectos-card-titulo {
            @extend %titulo;
        }

        .proyectos-card-descripcion {
            margin-bottom: 10px;
        }

        .proyectos-card-link {
            padding: 10px 0px 10px 0px;
            a {
                @extend %a;
            }
        }
    }
}

.proyectos-grid {
    @include grid;

    .proyecto-img-container img {
        width: 100%;
    }

    .proyecto-link {
        a {
            @extend %a;
        }
    }
}

.for-aca {
    @extend %padding;

    .for-aca-cont-tit {
        @extend %titulo;
    }
}

.cur-hab {
    @extend %padding;

    .cur-hab-cont-tit {
        @extend %titulo;
    }
}

.cursos-habilidades {
    a {
        @extend %hab;
    }
}