footer, header {
  box-sizing: border-box;
}

.cur-hab, .for-aca, .proyectos, .sobremi {
  padding: 1rem;
}

footer h1, header h1 {
  font-size: 2rem;
}

footer nav a:hover, footer h1:hover, header nav a:hover, header h1:hover {
  transition: all 0.3s ease;
  transform: scale(1.09);
}

.proyectos-grid .proyecto-link a, .proyectos .proyectos-card .proyectos-card-link a {
  text-decoration: none;
  background: #2962ff;
  padding: 10px;
  border-radius: 4px;
  color: #ffffff;
}

.cursos-habilidades a {
  text-decoration: none;
  color: #ffffff;
}

.cur-hab .cur-hab-cont-tit, .for-aca .for-aca-cont-tit, .proyectos .proyectos-card .proyectos-card-titulo, .proyectos .proyectos-titulo, .sobremi .sobremi-titulo {
  font-weight: bold;
  margin-bottom: 10px;
}

body {
  background: #FFD600;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: rgba(11, 11, 11, 0.7607843137);
  margin: 0px;
}

header {
  padding: 1rem;
  background: #2962FF;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 40rem) {
  header h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
header nav a {
  color: white !important;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
@media screen and (max-width: 40rem) {
  header nav a {
    font-size: 0.5rem;
    font-weight: 100;
    display: none;
  }
}
@media screen and (max-width: 40rem) {
  header nav {
    font-size: 0.9rem;
  }
}

footer {
  padding: 1rem;
  background: #2962FF;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 40rem) {
  footer h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    display: none;
  }
}
footer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
footer nav a {
  color: white !important;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
@media screen and (max-width: 40rem) {
  footer nav a {
    font-size: 0.5rem;
    font-weight: 100;
  }
}
@media screen and (max-width: 40rem) {
  footer nav {
    font-size: 0.9rem;
  }
}

.sobremi .lista {
  padding-left: 2rem;
  list-style: square;
  margin-bottom: 10px;
}
.sobremi .sobremi-profesor {
  margin-bottom: 10px;
}

.proyectos .proyectos-card {
  background-color: #f0f0f0;
  border-radius: 14px;
  padding: 14px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.proyectos .proyectos-card .proyectos-img {
  width: 100%;
  margin-bottom: 10px;
}
.proyectos .proyectos-card .proyectos-card-descripcion {
  margin-bottom: 10px;
}
.proyectos .proyectos-card .proyectos-card-link {
  padding: 10px 0px 10px 0px;
}
.proyectos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 0px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.proyectos-grid .proyecto-img-container img {
  width: 100%;
}
.cur-hab a {
  color: rgba(11, 11, 11, 0.7607843137);
}/*# sourceMappingURL=main.css.map */